<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>This is first app.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <!-- method 1 -->
      <app-server></app-server>
      <!-- method 2 -->
      <!-- <div app-server></div> -->
      <!-- method 3 -->
      <!-- <div class="app-server"></div> -->
    </div>
    <div class="col-6">
      <app-product></app-product>
    </div>
  </div>
  <div class="row">
    <div class="col-6"><app-success-alert></app-success-alert></div>
    <div class="col-6"><app-warning-alert></app-warning-alert></div>
  </div>
  <div class="row">
    <app-user></app-user>
  </div>
  <div class="row">
    <app-account></app-account>
  </div>
</div>
