<div class="container">
  <div class="row">
    <div class="col-xs-6 col-2"><label>Username</label></div>
    <div class="col-xs-6 col-10">
      <input type="text" class="form-control" [(ngModel)]="username" />
    </div>
  </div>
  <div class="row">
    <p *ngIf="createUserStatus">{{ username }}</p>
  </div>
  <div class="row">
    <div class="col-xs-6 col-6">
      <button
        class="btn btn-warning mr-3"
        [disabled]="username === ''"
        (click)="username = ''"
      >
        Reset User
      </button>
      <button
        class="btn btn-primary"
        [disabled]="username === ''"
        (click)="onCreateUser()"
      >
        Add User
      </button>
    </div>
  </div>
</div>
